<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center">

        <h1 style="font-weight: light">HTML PDF - NODE JS</h1>

        <p class="color: #333">Lorem ipsum dolor sit amet culpa eu</p>

        <nav>
            <a href="https://www.npmjs.com/package/html-pdf">read more</a>
        </nav>

    </div>
</body>
</html>